body, html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffff;
}

#leaderboardTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#leaderboardTable th, #leaderboardTable td {
    border: 1px solid #00ffc3;
    padding: 10px;
    text-align: center;
}

#leaderboardTable th {
    background-color: #21946D;
    color: #00ffc3;
}

#leaderboardTable tr:nth-child(even) {
    background-color: #333;
}

#leaderboardTable tr:nth-child(odd) {
    background-color: #333;
}

#leaderboardTable tr:hover {
    background-color: #374244;
}

#MiddleColumn h1 {
    color: #00ffc3;
    text-align: center;
    margin-top: 20px;
}

#leaderBoardTitle {
    text-align: center;
    margin-top: 20px;
}

#LeftCol {
    width: 20%;
    height: 1046px;
    background-color: #ffff;
}

#MiddleCol {
    padding: 20px;
    box-sizing: border-box;
    
    background-color: #333;
    border-radius: 8px;
    border: 2px solid #00ffc3;
    width: 70%;
    height: 1046px;
}

#leaderBoardTitle {
    color: #333;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: Arial black, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 40;
}

#leaderboardTable {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #333;
    box-shadow: 0 0 10px rgba(25, 215, 149, 0.2);
    table-layout: fixed;
}

#leaderboardTable th, #leaderboardTable td {
    border: 1px solid #19D795;
    padding: 12px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #00ffc3;
}

#leaderboardTable th {
    background-color: #21946D;
    color: #00ffc3;
    font-weight: bold;
}

#leaderboardTable td:first-child {
    font-weight: bold;
    color: #00ffc3;
}

#leaderboardTable #rankings {
    width: 20%;
    text-align: center;
}

#leaderboardTable #player {
    width: 40%;
}

#leaderboardTable .player-name {
    vertical-align: middle;
    color: #00ffc3;
}

#leaderboardTable #score {
    width: 40%;
    text-align: center;
}

#leaderboardTable .profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    margin-right: 10px;
    border: 2px solid #00ffc3;
}

.score-container {
    height: 1.5em;
    line-height: 1.5em;
    overflow: hidden;
    display: inline-block;
    position: relative;
    background: linear-gradient(to bottom, #21946D 0%, #19D795 100%);
    border-radius: 5px;
    padding: 5px 10px;
    min-width: 100px;
}

.score-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-wrapper span {
    display: block;
    font-family: 'Digital-7', monospace;
    font-size: 1.5em;
    color: #18e69e;
    text-shadow: 0 0 5px #18E59D;
    text-align: center;
}

#leaderboardTable tr:hover .score-container {
    box-shadow: 0 0 15px #18E59D;
}

.score-container::-webkit-scrollbar {
    display: none;
}

.score-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#sortButtons {
    margin-bottom: 20px;
}

#sortButtons .btn {
    margin-right: 10px;
    background-color: #00ffc3;
    border-color: #00ffc3;
    color: #333;
    font-family: Arial black, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}

#sortButtons .btn.active {
    background-color: #00c194;
    color: #fff;
    border-color: #00c194;
}

#leaderboardTable th, #leaderboardTable td {
    width: 25%;
    background-color: transparent;
}

.score-container, .winrate-container {
    height: 2em;
    line-height: 2em;
    overflow: hidden;
    display: inline-block;
    position: relative;
    background: linear-gradient(to bottom, #21946D 0%, #19D795 100%);
    border-radius: 5px;
    padding: 5px 15px;
    min-width: 100px;
}

.score-wrapper, .winrate-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-wrapper span, .winrate-wrapper span {
    display: inline-block;
    font-family: 'Digital-7', monospace;
    font-size: 1.5em;
    color: white;
    text-shadow: 0 0 5px #18E59D;
    text-align: center;
    white-space: nowrap;
}

.rank-num {
    color: #18e69e;
}

#RightCol {
    width: 20%;
    height: 1046px;
    background-color: #fff;
}

#viewButtons {
    margin-bottom: 20px;
}

#viewButtons .btn {
    margin-right: 10px;
    background-color: #00ffc3;
    border-color: #00ffc3;
    color: #333;
    font-family: Arial black, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}

#viewButtons .btn.active {
    background-color: #00c194;
    color: #fff;
    border-color: #00c194;
}

.words{
    color: white;
}