body, html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF; /* White */
}

#leaderboardTable {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #FFFFFF; /* White */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

#leaderboardTable th, #leaderboardTable td {
    border: 1px solid #00FFFF; /* Cyan */
    padding: 12px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#leaderboardTable th {
    background-color: #D3D3D3; /* Light grey */
    color: #00FFFF; /* Cyan */
    font-weight: bold;
}

#leaderboardTable tr:nth-child(even) {
    background-color: #F8F8F8; /* Lighter grey */
}

#leaderboardTable tr:hover {
    background-color: #E8E8E8; /* Light grey hover */
}

#leaderboardTable td:first-child {
    font-weight: bold;
    color: #696D73; /* Slightly darker grey for rankings */
}

#MiddleCol {
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
    background-color: #D3D3D3; /* Light grey */
    border-radius: 8px;
    border: 2px solid #00FFFF; /* Cyan */
    width: 70%;
    height: auto;
}

#leaderBoardTitle {
    color: #00FFFF; /* Cyan */
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

#sortButtons {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#sortButtons .btn {
    background-color: #D3D3D3; /* Light grey */
    color: #00FFFF; /* Cyan */
    margin-right: 10px;
    padding: 10px 20px;
    border: 1px solid #00FFFF; /* Cyan */
    border-radius: 5px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#sortButtons .btn:hover {
    background-color: #00FFFF; /* Cyan */
    color: #FFFFFF; /* White */
}

#sortButtons .btn.active {
    background-color: #00FFFF; /* Cyan */
    color: #FFFFFF; /* White */
}
