body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
}

h1 {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    padding: 30px 0px 20px 20px;
    color: #000;
}

.division-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.division {
    flex: 1 1 45%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 250px;
}  


.division h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.division ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.division li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.division li:last-child {
    border-bottom: none;
}

.division li a {
    text-decoration: none;
    color: #0073e6;
    font-size: 16px;
    font-weight: bold;
}

.division li a:hover {
    text-decoration: underline;
}
