body {
    margin: 0;
    background-color: #000;
    color: #fff;
}

#signup a {
    font-weight: bold;
    color: #00aaff;
}

.form-container {
    width: 400px;
    padding: 2rem;
    border: 2px solid #00aaff;
    border-radius: 8px;
    background-color: #1a1a1a;
}

.form-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
    color: #00aaff;
}
