body, html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF; /* White */
}

#Page {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    color: #000000; /* Black text */
    box-sizing: border-box;
}

#LeftColumn, #RightColumn {
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
    background-color: #D3D3D3; /* Light grey */
    border-radius: 8px;
    border: 2px solid #00ffc3; /* Cyan */
}

#MiddleColumn {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
    background-color: #D3D3D3; /* Light grey */
    border: 2px solid #00ffc3; /* Cyan */
    border-radius: 8px;
    overflow: auto;
    max-height: 100vh;
}

h3 {
    font-weight: bold;
    font-style: italic;
    color: #00ffc3; /* Cyan */
}

#RightColumn ul li a {
    text-decoration: none;
    color: #00ffc3; /* Cyan */
    font-weight: bold;
}

#RightColumn ul li a:hover {
    color: #FFFFFF; /* White */
    background-color: #00ffc3; /* Cyan */
    padding: 2px;
    border-radius: 4px;
}

#Thumbnails .thumbnail {
    border: 2px solid #00ffc3; /* Cyan */
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.thumbnail:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #00ffc3;
}

.game-card {
    border: 1px solid #D3D3D3; /* Light grey */
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF; /* White */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    gap: 10px;
}

.team {
    font-weight: bold;
    flex: 1;
    text-align: left;
    cursor: pointer;
}

.score {
    font-size: 1em;
    font-weight: bold;
    color: #000000; /* Black */
    text-align: center; 
    flex: 0 0 400px;
}

.time {
    font-size: 0.9em;
    color: #666;
    text-align: right;
    flex: 0 0 100px;
}

.invisible {
    visibility: hidden;
}

.green-text {
    color: #0bb302;
}

.divider {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    border-top: 2px solid #ccc;
    padding-top: 10px;
}

.small-logo {
    width: 50px;
    height: auto;
    vertical-align: middle;
}
