#miniLeaderboard {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 0.9em;
    color: #fff;
}

#miniLeaderboard td {
    border: 1px solid #00aaff;
    padding: 8px;
    text-align: left;
}

#miniLeaderboard tr:nth-child(even) {
    background-color: #1a1a1a;
}

#miniLeaderboard tr:hover {
    background-color: #00aaff;
}

#miniLeaderboard td:first-child {
    font-weight: bold;
    color: #fff;
}
