#miniLeaderboard {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 0.9em;
    color: #333;
}

#miniLeaderboard td {
    border: 2px solid #00ffc3;
    padding: 8px;
    text-align: left;
}

#miniLeaderboard tr:nth-child(even) {
    background-color: #d3d3d3;
}

#miniLeaderboard tr:hover {
    background-color: #00ffc3;
    color: #333;
}

#miniLeaderboard td:first-child {
    font-weight: bold;
    color: #333;
}
