.navbar {
    background-color: #000;
    border-bottom: 5px solid #00aaff;
}

.navbar-brand, .nav-link {
    color: #00aaff !important;
    font-family: 'Arial Black', sans-serif;
    font-style: italic;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #00aaff;
    color: #000 !important;
}

.dropdown-menu {
    background-color: #1a1a1a;
}

.dropdown-item {
    color: #00aaff;
}

.dropdown-item:hover {
    background-color: #00aaff;
    color: #000;
}
