.navbar {
    background-color: #000;
    border-bottom: 5px solid #00aaff;
}

.navbar-brand, .nav-link {
    color: #00aaff !important;
    font-family: 'Arial Black', sans-serif;
    font-style: italic;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #00aaff;
    color: #000 !important;
}

.navbar .dropdown-menu {
    background-color: #1a1a1a;
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    z-index: 1050; 
}

.dropdown-item {
    color: #00aaff;
}

.dropdown-item:hover {
    background-color: #00aaff;
    color: #000;
}
